.dragging {
	position: absolute;
}

.relatedAfterElement {
	height          : 54px;
	background-color: white;
	border-radius   : 4px;
	margin          : 10px 4.5px;
	padding         : 10px 16px;
	opacity         : 0.65;
}