$height: 51px;

#header {
	font-family     : "Inter";
	font-style      : normal;
	font-weight     : 600;
	font-size       : 16px;
	height          : $height;
	background-color: white;

	.container, .container-lg {
		display    : flex;
		align-items: center;
		height     : $height;

		.user {
			height     : 24px;
			display    : flex;
			align-items: center;

			.user-icon {
				img {
					width : 20px;
					height: 20px;
				}
			}

			.username {
				margin-left: 15px;
			}
		}

		.menu {
			display        : flex;
			width          : 227px;
			height         : 24px;
			justify-content: space-between;
			margin-left    : 33px;
			text-decoration: none;

			a {
				color: black;

				&:hover {
					text-decoration: none;
					color          : black;
				}
			}
		}

		.functions {
			display        : flex;
			align-items    : center;
			flex-grow      : 1;
			justify-content: end;

			.search-icon {
				cursor      : pointer;
				margin-right: 25px;

				img {
					width : 18px;
					height: 18px;
				}
			}

			.icon-add {
				cursor: pointer;

				img {
					width : 19px;
					height: 21px;
				}
			}
		}
	}
}