.header-default {
    background-color: #224957;
    color           : #FFFFFF;

    font-family: 'Roboto', sans-serif;
    font-style : normal;
    font-weight: 500;
    font-size  : 19px;
    line-height: 22px;

    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 0 12px;
    height         : 53px;

    // position: relative;

    &>.menu-left-icon {
        display: none;
    }

    &>.default {
        width             : 100%;
        display           : flex;
        align-items       : center;
        // justify-content: space-between;
        justify-content   : end;
        padding           : 0 20px;
    }

    &>.form-search {
        width  : 100%;
        padding: 0 12px;

        &>div {
            display        : flex;
            align-items    : center;
            justify-content: right;
            position       : relative;

            &>input {
                height          : 41px;
                border-radius   : 15px;
                padding         : 0 10px;
                border          : 0px;
                background-color: #FAFAFA;
            }

            &>.turn-off {
                color           : #fafafa;
                background-color: #224957;
                width           : 32px;
                height          : 32px;
                display         : flex;
                justify-content : center;
                align-items     : center;
                border-radius   : 50%;
                right           : 3px;
                position        : absolute;
            }
        }
    }

    &>.add {}

    .desktop-header {
        display    : flex;
        align-items: center;

        img {
            width        : 40px;
            height       : 40px;
            border-radius: 50%;
        }

        div {
            padding: 0px 19px;
            cursor : pointer;

            font-family: 'Roboto', sans-serif;
            font-style : normal;
            font-weight: 500;
            font-size  : 19px;
            line-height: 22px;
            a {
                color: #FFFFFF;
                text-decoration: none;
            }
        }

        .desktop-header-username {
            font-size: 18px !important;
            white-space: nowrap;
        }
    }

    .showMenuLeft {
        display: none;
    }

    @media screen and (max-width: 993px) {
        .desktop-header {
            display: none !important;
        }

        .menu-left-icon {
            display: block;
        }

        .showMenuLeft {
            display: block;
        }
    }
}

.container {
    padding: 0;
}

.bg_dark {
    position  : fixed;
    top       : 0;
    left      : 0;
    background: rgba(10, 8, 8, 0.51);
    width     : 100vw;
    height    : 100vh;
    z-index   : 5;
}

[contenteditable] {
    outline: 0px solid transparent;
}

input {
    outline: none;
}



/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background   : #f1f1f100;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background   : rgba(136, 136, 136, 0.877);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    ;
}