.input-note {
    // background   : #FFE8A5;
    box-shadow   : -5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width        : 374px;
    max-height   : calc(100vh - 61px);

    @media screen and (max-width: 400px) {
        width: 95vw !important;
    }

    .bg-color {

        position: relative;
        top     : -11px;
        left    : -1px;

        div {
            cursor       : pointer;
            width        : 26px;
            height       : 26px;
            filter       : drop-shadow(-3px 1px 6px rgba(0, 0, 0, 0.11));
            border-radius: 50%;
            margin-right : 9px;
        }

        display: flex;
    }

    .color-1 {
        background-color: #FFE8A5;
    }

    .color-2 {
        background-color: #CBF0F8;
    }

    .color-3 {
        background-color: #E8EAED;
    }

    .color-4 {
        background-color: #D7AEFB;
    }

    .note-btn {
        display     : flex;
        align-items : center;
        margin-right: 8.5px;
        margin-top  : 8px;

        div {
            cursor       : pointer;
            width        : 16.5px;
            height       : 16.5px;
            border-radius: 50%;
        }

        .btn-add {
            background  : #00ff40;
        }

        .btn-destroy {
            background  : #DF6558;
            margin-right: 16.5px;
        }
    }

    .note-group-btn {
        display        : flex;
        justify-content: space-between;
    }

    .content {
        max-height: calc(100vh - 98px);
        overflow-y: scroll;
    }

    .note-title {
        margin-top  : 11.5px;
        margin-left : 19px;
        margin-right: 19px;

        font-family: 'Roboto', sans-serif;
        font-style : normal;
        font-weight: normal;
        font-size  : 21px;
        line-height: 25px;
        color      : #333438;
    }

    .note-content {
        margin: 11px 26px 19px 19px;

        font-family: 'Roboto', sans-serif;
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 140.62%;
        /* or 22px */
        color      : #333438;
    }
}