.menu-left {
    position        : fixed;
    width           : 264px;
    height          : 100vh;
    left            : 0px;
    top             : 0px;
    font-family     : 'Roboto', sans-serif;
    z-index         : 6;
    background-color: #FFFDFD;
    border-radius   : 0px 5.54px 5.54px 0px;

    &>.profile {
        position               : relative;
        // background-image : url('@/assets/images/header/Vectors.png');
        // background-image    : url('https://cdn.dribbble.com/users/441305/screenshots/5477297/media/98abcac0123ea00720a6ed209f48253a.png');
        background-size        : 100%;
        background-repeat      : no-repeat;
        height                 : 117.01px;
        border-radius          : 0px 5.54px 0px 0px;

        &>.bg {
            width        : 50px;
            height       : 49.59px;
            margin-left  : 11px;
            margin-top   : 11.9px;
            border-radius: 50%;
        }

        &>.user-name {
            height     : 18.85px;
            margin-left: 11px;
            margin-top : 6px;

            font-style : normal;
            font-weight: normal;
            font-size  : 16px;
            line-height: 19px;
            display    : flex;
            align-items: center;
            text-align : center;
            color      : #34353C;
            font-family: 'Space Grotesk';
            font-style : normal;
            font-weight: bold;
            font-size  : 19.9444px;
        }

        &>.user-email {
            // width      : 193px;
            height     : 15.87px;
            margin-left: 11px;
            margin-top : 6px;

            font-family: 'Space Grotesk';
            font-style : normal;
            font-weight: initial;
            font-size  : 14px;
            line-height: 16px;
            display    : flex;
            align-items: center;
            text-align : center;
            color      : #34353C;
        }

        &>.arrow {
            position: absolute;
            right   : 9px;
            top     : 77.32px;
        }

        &>.logout {
            position: absolute;
            width   : 110px;
            height  : 37px;
            left    : 193px;
            top     : 98px;

            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            background   : #FFFFFF;
            border-radius: 10px;

            font-family: 'Roboto', sans-serif;
            font-style : normal;
            font-weight: normal;
            font-size  : 19px;
            line-height: 37px;
            text-align : center;
            color      : #000000;

            z-index: 1;
        }
    }

    &>.list {
        position   : relative;
        // color   : #000000;

        a {
            // color: #000000;
            color: #474F59;
        }

        &>.is_row {
            display    : flex;
            align-items: center;
            padding    : 12.65px 14px;

            .icon {
                width: 26px;

                i {
                    font-size: 24.5px;
                    color    : #8D91A0;
                }
            }

            &>.text {
                margin-left: 15px;

                a {
                    line-height: 22px;
                    font-family: 'Space Grotesk';
                    font-style : normal;
                    font-weight: normal;
                    font-size  : 19.9444px;
                    color      : #8D91A0;
                }
            }
        }
    }
}