$height  : calc(100vh - 61px);
$bg-color: #F2F4F5;

#layout-words {
	background-color: $bg-color;

	#layout-words__words-contain {
		background-color: $bg-color !important;
		height          : $height;
		margin-top      : 10px;
		padding         : 0px;
		border-radius   : 10px;
		background-color: blue;

		&>.words {
			height: 100%;

			&>div {
				display        : flex;
				flex-wrap      : nowrap;
				justify-content: center;

				#list-word {
					width        : 625px;
					background   : #FFFFFF;
					border-radius: 10px;
					height       : $height;
					filter       : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
					overflow-y   : scroll;

					&>p {
						width : 29px;
						height: 27px;

						margin-top : 12px;
						margin-left: 15px;
						font-family: "Inter";
						font-style : normal;
						font-weight: normal;
						font-size  : 21px;
						line-height: 25px;
						display    : flex;
						align-items: center;
						text-align : center;

						color: #000000;
					}

					.group-by-date {
						margin-bottom: 10px;

						.date {
							width        : 210px;
							height       : 21px;
							margin-left  : 17px;
							margin-bottom: 8px;
							font-family  : "Inter";
							font-style   : normal;
							font-weight  : normal;
							font-size    : 17px;
							line-height  : 21px;

							display    : flex;
							align-items: center;

							color: #000000;
						}

						.word {
							padding    : 12.4px 0px;
							display    : flex;
							align-items: center;
							border-top : 1px solid #BABABA;
							margin-left: 15px;
							cursor     : pointer;

							img {
								width : 60px;
								height: 36px;
								margin: 0px 14px;
							}

							.related-word {
								div:nth-child(1) {
									font-family: "Roboto";
									font-style : normal;
									font-weight: normal;
									font-size  : 17px;
									line-height: 20px;
									display    : flex;
									align-items: center;

									color    : #000000;
									flex-wrap: wrap;

									span {
										margin-left: 12px;
										font-family: "Roboto";
										font-style : normal;
										font-weight: normal;
										font-size  : 13.6px;
										line-height: 15px;
										display    : flex;
										align-items: center;
										color      : rgba(0, 0, 0, 0.43);

									}
								}

								div:nth-child(2) {
									font-family: "Roboto";
									font-style : normal;
									font-weight: normal;
									font-size  : 14px;
									line-height: 13px;
									display    : flex;
									align-items: center;
									color      : rgba(60, 60, 67, 0.6);
									margin-top : 5.2px;
								}
							}
						}
					}
				}

				#change-word {
					width        : 361px;
					min-height   : 506px;
					background   : #FFFFFF;
					box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
					border-radius: 10px;
					margin-left  : 20px;
					align-self   : start;
					min-width    : 350px;

					@media only screen and (max-width: 719px) {
						& {
							display: none;
						}
					}

					&>div {
						margin: 16px 18px;

						.content {
							width : 100%;
							border: 0px;
						}

						input {
							width : 100%;
							border: 0px;
						}

						.word {
							font-family  : "Roboto";
							font-style   : normal;
							font-weight  : 500;
							font-size    : 21.5px;
							line-height  : 150%;
							height       : 30px;
							display      : flex;
							align-items  : center;
							color        : #000000;
							margin-top   : 7px;
							margin-bottom: 2px;
						}

						.pronounce {
							height       : 27px;
							font-family  : "Roboto";
							font-style   : normal;
							font-weight  : normal;
							font-size    : 16px;
							line-height  : 150%;
							display      : flex;
							align-items  : center;
							color        : #000000;
							margin-bottom: 2px;
						}

						.translate {
							height       : 27px;
							font-family  : "Roboto";
							font-style   : normal;
							font-weight  : normal;
							font-size    : 17px;
							line-height  : 150%;
							display      : flex;
							align-items  : center;
							color        : #000000;
							margin-bottom: 4px;
						}

						.content {
							font-family: "Roboto";
							font-style : normal;
							font-weight: normal;
							font-size  : 16px;
							line-height: 150%;
							color      : #000000;
						}

						.button {
							margin-top     : 36px;
							display        : flex;
							justify-content: center;
							align-content  : center;

							button {
								width        : 88px;
								height       : 31.84px;
								background   : #FFFFFF;
								border       : 1px solid #C9CFDA;
								box-sizing   : border-box;
								border-radius: 9px;
								color        : #B0BAC9;
								font-family  : "Open Sans";
								font-style   : normal;
								font-weight  : 600;
								font-size    : 11px;
							}

							.btn-delete {}

							.btn-add {
								margin-left: 36.05px;
							}
						}
					}
				}
			}

			.details {
				&>div {
					background-color: white;
					max-width       : 440px;
					border-radius   : 9px;
					padding         : 11px 11px;

					&>div {
						.content {
							width : 100%;
							border: 0px;
						}

						input {
							width : 100%;
							border: 0px;
						}

						.word {
							font-family  : "Roboto";
							font-style   : normal;
							font-weight  : 500;
							font-size    : 21.5px;
							line-height  : 150%;
							height       : 30px;
							display      : flex;
							align-items  : center;
							color        : #000000;
							margin-top   : 7px;
							margin-bottom: 2px;
						}

						.pronounce {
							height       : 27px;
							font-family  : "Roboto";
							font-style   : normal;
							font-weight  : normal;
							font-size    : 16px;
							line-height  : 150%;
							display      : flex;
							align-items  : center;
							color        : #000000;
							margin-bottom: 2px;
						}

						.translate {
							height       : 27px;
							font-family  : "Roboto";
							font-style   : normal;
							font-weight  : normal;
							font-size    : 17px;
							line-height  : 150%;
							display      : flex;
							align-items  : center;
							color        : #000000;
							margin-bottom: 4px;
						}

						.content {
							font-family: "Roboto";
							font-style : normal;
							font-weight: normal;
							font-size  : 16px;
							line-height: 150%;
							color      : #000000;
							min-height : 119px;
						}

						.button {
							margin-top     : 36px;
							display        : flex;
							justify-content: center;
							align-content  : center;

							button {
								width        : 88px;
								height       : 31.84px;
								background   : #FFFFFF;
								border       : 1px solid #C9CFDA;
								box-sizing   : border-box;
								border-radius: 9px;
								color        : #B0BAC9;
								font-family  : "Open Sans";
								font-style   : normal;
								font-weight  : 600;
								font-size    : 11px;
							}

							.btn-delete {}

							.btn-add {
								margin-left: 36.05px;
							}
						}
					}
				}
			}
		}
	}
}