<template lang="">
    <div>
        <form class="form-horizontal">
            <div class="form-group pmd-textfield pmd-textfield-floating-label form-group-lg">
                <label for="first-name">Title</label>
                <input type="text" class="mat-input form-control" id="name" autocomplete="off" :value="title">
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label class="control-label" style='padding-top: 0px'>Content</label>
                <textarea required class="form-control" autocomplete="off" :value="content"></textarea>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    props: ["note"],
    computed: {
        title() {
            if (this.note) {
                return this.note.title
            } else {
                return ''
            }
        },
        content() {
            if (this.note) {
                return this.note.content
            } else {
                return ''
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.pmd-textfield textarea.form-control {
    height: 219px;
}

textarea {
    color: #402929;
}
</style>