<template lang="">
        <div>
            <the-header title='NOTES'></the-header>
            <div id='content' class='container'>
                <div class='row'>
                    <div class='col-lg-4 col-md-4 col-sm-6 col-12' v-for="(item, index) in notes" :key="index">
                        <show :note='item'></show>
                    </div>
                </div>
            </div>
            <the-footer></the-footer>
        </div>
</template>

<script>
import Show from '../../../components/notes/show.vue'
import TheHeader from '../../layouts/notes/theHeader.vue'
import TheFooter from '../../layouts/notes/theFooter.vue'


import { mapState, mapActions } from 'vuex'

export default {
    components: { TheFooter, TheHeader, Show },

    computed: {
        ...mapState('notes', ['notes']),
    },

    mounted() {
        this.getNotes()
    },
    methods: {
        ...mapActions('notes', ['getNotes']),
    },

}
</script>

<style lang="scss">
#content {
    margin-bottom: 69px;
    @media all and (max-width: 554px) {
        // & > .row > div {
        //     padding-right: 0px;
        //     padding-left: 0px;
        // }
    }
}
</style>