<template lang="">
    <div>
        <the-header title='VOCABULARIES'></the-header>
        <div id='content' class='container'>
            <div class='row'>
                <div class='col-lg-4 col-md-4 col-sm-6 col-12' v-for="(item, index) in vocabularies" :key="index">
                    <show :vocabulary='item'></show>
                </div>
            </div>
        </div>
        <the-footer></the-footer>
    </div>
</template>

<script>
import Show from '../../../components/vocabularies/show.vue'
import TheHeader from '../../layouts/vocabularies/theHeader.vue'
import TheFooter from '../../layouts/vocabularies/theFooter.vue'


import { mapState, mapActions } from 'vuex'

export default {
    components: { TheFooter, TheHeader, Show },

    computed: {
        ...mapState('vocabularies', ['vocabularies']),
    },

    mounted() {
        this.getVocabularies()
    },
    methods: {
        ...mapActions('vocabularies', ['getVocabularies']),
    }
    
}
</script>

<style lang="scss">
#content {
    margin-bottom: 69px;
    @media all and (max-width: 554px) {
        // & > .row > div {
        //     padding-right: 0px;
        //     padding-left: 0px;
        // }
    }
}
</style>