<!doctype html>
<html lang="en">
  <head>
    <title>INote</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap css-->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Propeller css -->
    <link href="assets/css/propeller.css" rel="stylesheet">
  </head>
  <body>
    <div class=''>
      <%= yield %>
    </div>
    <!-- jQuery before Propeller.js -->
    <script type="text/javascript" src="assets/js/jquery.js" ></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="assets/js/bootstrap.js" ></script>
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="assets/js/propeller.js" ></script>
    <%= javascript_pack_tag 'app' %>
  </body>
</html>
